*{
    margin: 0%;
    padding: 0%;
}
.imagenCarrito{
    max-width: 80px;
    max-height: 80px;
}
ul li{
    list-style-type: none;
}

.imagenPrinc{
    max-width: 100%;
}
header{
    position: relative;
}
h1{
    position: absolute;
    top: 40%;
    right: 7%;
    
}